#SearchDiv{
    background-color: tomato;
}
#MenuDiv{
    display: flex;
    flex-wrap: wrap;
}
#MainDiv{
    background-color: tomato;
    
}
#menuDivInner{
    height: 300px;
    background-color: tomato;
    display: flex;
    flex-wrap: wrap;
    width: 70px;
    padding: 100px;
    margin-left: 5px;
}
h3:hover{
    border-bottom: 1px solid gray;
}
h3{
    font-size: 25px;
}
